---
import { Button } from "@/components/base";

import Logo from "@/assets/images/logo.png";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<header id="navbar" class="fixed top-0 left-0 right-0 px-4 z-20">
  <nav
    class="flex py-2 items-center justify-between max-w-6xl mx-auto h-[--navbar-height]"
  >
    <Image src={Logo} alt="logo" class="h-full w-auto py-1.5" />

    <Button size="sm">
      <Icon name="ri:sparkling-line" class="text-[#333333]" />
      Notify me</Button
    >
  </nav>
</header>
