---
import { Image } from "astro:assets";
import Abeokuta from "@/assets/images/abeokuta.png";
---

<section id="about" class="bg-[#020323]">
  <div class="max-w-6xl mx-auto py-16 md:py-20 px-4 grid md:grid-cols-2 lg:grid-cols-5 items-center gap-4">
    <div class="relative w-full max-w-[360px] ml-4 lg:col-span-2 grid place-items-center">
      <div class="relative">
          <Image
            class="rounded-lg z-[1] relative"
            src={Abeokuta}
            alt="Abeokuta"
            width="638"
            height="577"
          />
          <div
            class="absolute inset-0 bg-[#AACF1D] rounded-3xl -translate-x-4 translate-y-4"
          >
          </div>
      </div>
    </div>
    <div class="flex flex-col gap-4 text-white lg:col-span-3">
      <h2 class="font-adoha text-2xl md:text-[44px] md:leading-[66px]">
        Why Abeokuta <span class="text-[#aacf1d]">FinHack</span>
      </h2>
      <p class="">
        Abeokuta FinHack is a local fintech event and competition designed by
        The Radiating Church Business & Career Network to drive innovation in
        the financial sector while exposing young people to world-class solution
        development models and processes. By bringing together innovators,
        developers, creatives, and industry experts, this event offers a prime
        opportunity to learn, network, and discover cutting-edge solutions that
        make financial services more secure, inclusive, and accessible for
        everyone.
      </p>
    </div>
  </div>
</section>
