---
import { Button } from "../base";

import { Image } from "astro:assets";
import Logo from "@/assets/images/logo.png";
import { Icon } from "astro-icon/components";
const links = ["Events", "Organizations", "News & Articles"];
---

<header
  id="navbar"
  class="fixed top-0 left-0 right-0 px-4 pt-4 md:pt-5 pb-0 z-20 transition-transform duration-300 delay-100"
>
  <nav
    class="flex items-center justify-between max-w-5xl mx-auto rounded-full h-[--navbar-height] bg-[#222222CC] p-2.5 pl-5 backdrop-blur-md"
  >
    <Image src={Logo} alt="logo" class="h-full w-auto py-1.5" />
    <div
      class="hidden md:flex items-center gap-2 lg:gap-4 lg:absolute lg:left-1/2 lg:-translate-x-1/2"
    >
      {
        links.map((link) => (
          <Button size="sm" variant="ghost-light">
            {link}
          </Button>
        ))
      }
    </div>
    <div class="hidden md:flex gap-2">
      <Button>Sign up Now</Button>
      <Button variant="outline-light">Log In</Button>
    </div>
    <Button class="md:hidden" variant="ghost-light" size="lg" icon>
      <Icon name="mdi:menu" class="size-6 text-white" />
    </Button>
  </nav>
</header>

<script>
  function main() {
    let lastScrollTop = 0;
    const navbar = document.getElementById("navbar");
    if (!navbar) {
      console.error("Navbar not found");
      return;
    }
    window.addEventListener("scroll", (e) => {
      const scrollTop =
        window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        // Scroll down
        navbar.classList.add("-translate-y-full");
      } else {
        // Scroll up
        navbar.classList.remove("-translate-y-full");
      }
      lastScrollTop = scrollTop;
    });
  }
  main();
</script>
