---
import TheChallenge from "./TheChallenge.astro";
import WhoCanParticipate from "./WhoCanParticipate.astro";
import WhyParticipate from "./WhyParticipate.astro";
---

<section id="challenge" class="relative bg-white text-[#010225]">
  <div
    class="relative z-[1] max-w-6xl mx-auto py-16 md:py-20 px-4 space-y-10 md:space-y-20"
  >
    <TheChallenge />
    <WhoCanParticipate />
    <WhyParticipate />
  </div>
</section>
