<div class="pl-4 py-4 border-l-[3px] border-[#AACF1D] flex flex-col gap-6 md:gap-10">
  <h2 class="font-adoha text-2xl md:text-[44px] md:leading-[66px]">
    The <span class="text-[#AACF1D]">Challenge</span>
  </h2>
  <p class="text-[#4F4F4F]">
    Utilize Payaza’s API to create innovative crowdfunding solutions that
    address everyday challenges within your community. Your solution should be
    engaging, transparent, and designed to make a meaningful impact.<br /><br />
    In this inaugural edition of Abeokuta FinHack, we invite you to harness technology
    to tackle challenges within your immediate community. Collaborate with professionals,
    friends, and peers from various universities, communities, and organizations
    to develop practical solutions to real-world problems. Please review the application
    guidelines below. If your application is successful, we will contact you to proceed
    to the next stage.
  </p>
</div>
