---
import { Header, Footer } from "@/components/sections/finhack";
import { BaseHead } from "@/components/inc";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "@fontsource-variable/dm-sans";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${SITE_TITLE.finhack}: ${title}` : SITE_TITLE.finhack}
      description={SITE_DESCRIPTION.finhack}
    />
  </head>
  <body class="font-dm-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Adoha;
    src: url("/fonts/Adoha.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --navbar-height: 62px;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
  }
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .expert-gradient {
    background: linear-gradient(220.83deg, #aacf1d -50.57%, #020323 42.08%);
  }
</style>

<script>
  import Lenis from "lenis";
  import { smoothScrollStore } from "@/stores";
  let lenis: Lenis | null = null;
  smoothScrollStore.subscribe((curr) => {
    console.log("curr", curr);
    if (curr) {
      if (!lenis) {
        lenis = new Lenis();
        function raf(time: number) {
            lenis?.raf(time);
          requestAnimationFrame(raf);
        }
        requestAnimationFrame(raf);
      }
    } else {
      if (lenis) {
        lenis?.destroy();
        lenis = null;
      }
    }
  });
</script>
