---
import { BaseHead, Header, Footer } from "@/components/sections";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "@fontsource/dm-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${SITE_TITLE}: ${title}` : SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body class="font-dm-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Adoha;
    src: url("/fonts/Adoha.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --navbar-height: 62px;
  }
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<script>
  import Lenis from "lenis";

  // Add lenis smooth scrolling
  const lenis = new Lenis();

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
