---
import { Image } from "astro:assets";
import { Button } from "@/components/base";
import { Icon } from "astro-icon/components";
---

<div class="judge-card flex flex-col gap-2 max-w-sm mx-auto">
  <div class="relative overflow-hidden">
    <Image
      src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="avatar"
      width={262}
      height={293}
      class="aspect-[0.8941979522] object-cover rounded-xl w-full"
    />
    <div class="absolute bottom-4 left-4 flex gap-2 items-center">
      <Button
        as="a"
        icon
        size="sm"
        rounded="default"
        variant="lemon"
        aria-label="LinkedIn account"
        href="https://linkedin.com/in/#"
        class="socials text-[#FFFFFF] [--delay:0]"
      >
        <Icon name="ri:linkedin-box-fill" />
      </Button>
      <Button
        as="a"
        icon
        size="sm"
        rounded="default"
        variant="lemon"
        aria-label="X(formerly twitter) account"
        href="https://twitter.com/#"
        class="socials text-[#FFFFFF] [--delay:1]"
      >
        <Icon name="ri:twitter-x-fill" />
      </Button>
    </div>
  </div>
  <h3 class="font-semibold text-sm md:text-xl">Hamzat Oluwaseun</h3>
  <p class="text-xs md:text-base italic text-[#6E6E6E] font-medium">
    Technology and Strategy Consultant
  </p>
</div>

<style>
  .judge-card {
  }
  .judge-card .socials {
    opacity: 0;
    transform: translateY(calc(100% + 16px));
    transition: all 250ms ease-in-out;
    transition-delay: calc(125ms * var(--delay));
  }
  .judge-card:hover .socials {
    opacity: 1;
    transform: translateY(0);
  }
</style>
