<div
  class="pl-4 py-4 border-l-2 md:border-l-[3px] border-[#AACF1D] flex flex-col gap-4 md:gap-10"
>
  <h2 class="font-adoha text-3xl md:text-[44px] md:leading-[66px]">
    <!-- Darking the challnge color -->
    The <span class="text-[#7B9516]">Challenge</span>
  </h2>
  <p class="text-[#313131] text-sm md:text-base">
    <span class="font-medium">
      Utilize <a
        href="https://docs.payaza.africa/developers"
        target="_blank"
        class="underline font-semibold">Payaza’s API</a
      > to create innovative crowdfunding solutions that address everyday challenges
      within your community. Your solution should be engaging, transparent, and designed
      to make a meaningful impact.
    </span><br /><br />
    In this inaugural edition of Abeokuta FinHack, we invite you to harness technology
    to tackle challenges within your immediate community. Collaborate with professionals,
    friends, and peers from various universities, communities, and organizations
    to develop practical solutions to real-world problems. Please review the application
    guidelines below. If your application is successful, we will contact you to proceed
    to the next stage.
  </p>
</div>
