---
import { Image } from "astro:assets";
import Abeokuta from "@/assets/images/abeokuta.png";
import Money1 from "@/assets/images/money-1.png";
import Money2 from "@/assets/images/money-2.png";
---

<section id="about" class="bg-[#020323] relative">
  <div
    class="max-w-6xl mx-auto py-24 md:py-36 px-4 grid md:grid-cols-2 lg:grid-cols-5 items-center gap-12"
  >
    <div
      class="relative w-full max-w-[360px] pl-4 lg:col-span-2 mx-auto md:mx-0"
    >
      <div class="relative about-image opacity-0">
        <Image
          class="rounded-[24px] z-[1] relative"
          src={Abeokuta}
          alt="Abeokuta"
          width="638"
          height="577"
        />
        <div class="absolute inset-0 bg-[#AACF1D] rounded-[36px]"></div>
      </div>
    </div>
    <div
      class="about-text opacity-0 flex flex-col gap-2 md:gap-4 text-white lg:col-span-3"
    >
      <h2 class="sr-only">why Abeokuta FinHack?</h2>
      <h2
        class="font-adoha text-3xl md:text-[44px] md:leading-[66px]"
        aria-hidden="true"
      >
        Why Abeokuta <span class="text-[#aacf1d]">FinHack</span>
      </h2>
      <p class="sr-only">
        Abeokuta FinHack is a local fintech event and competition designed by
        The Radiating Church Business & Career Network to drive innovation in
        the financial sector while exposing young people to world-class solution
        development models and processes. By bringing together innovators,
        developers, creatives, and industry experts, this event offers a prime
        opportunity to learn, network, and discover cutting-edge solutions that
        make financial services more secure, inclusive, and accessible for
        everyone.
      </p>
      <p class="display-only text-sm md:text-base text-[#F2F2F2]">
        Abeokuta FinHack is a local fintech event and competition designed by
        The Radiating Church Business & Career Network to drive innovation in
        the financial sector while exposing young people to world-class solution
        development models and processes. By bringing together innovators,
        developers, creatives, and industry experts, this event offers a prime
        opportunity to learn, network, and discover cutting-edge solutions that
        make financial services more secure, inclusive, and accessible for
        everyone.
      </p>
    </div>
  </div>
  <div class="absolute bottom-0 right-0 [--size:96px] md:[--size:123px] blur-[80px] md:blur-[100px] size-[--size] overflow-hidden">
    <div
      class="bg-[#AACF1D] size-[calc(var(--size)_*_2)] rounded-full"
    >
    </div>
  </div>
  <Image
    src={Money1}
    alt="money icon"
    class="animate-[bounce_4s_ease-in-out_infinite] absolute top-0 right-4 md:top-10 md:right-12 lg:right-24 w-[75px]"
  />
  <Image
    src={Money2}
    alt="money icon"
    class="motion-safe:animate-[bounce-custom_4s_ease-in-out_infinite] absolute bottom-0 left-0 md:left-4 translate-y-1/2 z-[2] w-[90px] md:w-[150px]"
  />
</section>
<style>
  @keyframes bounce-custom {
    0%,
    100% {
      transform: translateY(25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(50%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
</style>
<script>
  import { inView, animate, stagger, timeline } from "motion";
  import SplitType, { type TargetElement } from "split-type";
  import { screenSize } from "@/utils";
  const EASE = [0.17, 0.55, 0.55, 1] as const;
  function animateAbout() {
    inView(
      "#about .about-image",
      (info) => {
        const aboutImageBg = info.target.querySelector(".about-image div")!;

        timeline([
          [
            info.target,
            {
              y: [28, 0],
              opacity: [0, 1],
            },
            {
              duration: 0.6,
            },
          ],
          [
            aboutImageBg,
            {
              y: [0, 16],
              x: [0, -16],
            },
            {
              duration: 0.4,
              at: "-0.2",
            },
          ],
        ]);
      },
      {
        amount: 0.5,
      },
    );
    inView(
      "#about .about-text",
      (info) => {
        info.target.classList.toggle("opacity-0");
        const headingWords = new SplitType("#about .about-text h2.font-adoha", {
          types: "words",
        }).words!;
        const paragraphLines = new SplitType(
          "#about .about-text p.display-only",
          {
            types: "lines",
          },
        ).lines!;
        const aboutTextElements = [...headingWords, ...paragraphLines];
        timeline(
          [
            [
              headingWords,
              {
                y: [28, 0],
                opacity: [0, 1],
              },
              {
                duration: 0.36,
                delay: stagger(screenSize({ default: 0.12, md: 0.18 })!),
              },
            ],
            [
              paragraphLines,
              {
                y: [28, 0],
                opacity: [0, 1],
              },
              {
                at: screenSize({ default: "0.12", md: "0.18" })!,
                duration: 0.24,
                delay: stagger(screenSize({ default: 0.06, md: 0.08 })!),
              },
            ],
          ],
          {
            // delay: stagger(0.24),
          },
        );
      },
      {
        amount: 0.5,
      },
    );
  }

  animateAbout();
</script>
